.card {
  position: relative;
  background-color: rgb(131, 7, 7);
  height: 500px;
  width: 100%;
  padding: 20px;
}
.card__content {
  display: block;
  justify-content: center;
  position: relative;
  padding: 20px;
  background-color: rgba(116, 6, 6, 0.712);
}
.card__image {
  object-fit: cover;
  align-items: center;
  height: 300px;
  width: 100%;
}
.card__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}
.card__description {
  font-size: 20px;
}
.card__content_footer_title {
  font-size: 30px;
  font-weight: 500;
}
.card__content_footer_text {
  font-size: 20px;
}
