.footer {
  background-image: radial-gradient(rgb(252, 175, 10), rgb(141, 42, 3));
  color: rgb(241, 218, 115);
  margin: 0;
  padding: 30px;
  height: 300px;
}
.footer__columns {
  display: flex;
  justify-content: space-evenly;
}
.footer__title {
  margin: 0;
  font-size: 50px;
  line-height: 1.5;
  font-family: Italiana, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.footer__names {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  padding-top: 50px;
  list-style: none;
  font-family: Italiana, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.name {
  padding-bottom: 10px;
}
.copyright {
  margin: 90px 0 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
