.footer {
  background-image: radial-gradient(rgba(207, 96, 6, 0.836), rgb(104, 1, 1));
  color: rgb(241, 218, 115);
  margin: 0;
  padding: 30px;
  height: 250px;
}
.footer__columns {
  display: flex;
  justify-content: space-evenly;
}
.footer__title {
  margin: 0;
  padding-top: 40px;
  font-size: 60px;
  line-height: 1.5;
  font-family: "Bodoni_Moda", "Times New Roman", Times, serif;
  font-style: italic;
  letter-spacing: 0.2em;
}
.footer__names {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  padding-top: 50px;
  list-style-type: none;
  font-family: "Italiana", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.15em;
}
.name {
  padding-bottom: 10px;
}
.copyright {
  margin: 40px 0 30px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.1em;
}
