.header {
  background-image: radial-gradient(rgba(207, 96, 6, 0.836), rgb(104, 1, 1));
  padding: 20px 30px 10px;
  margin: 0;
  color: rgb(245, 212, 122);
}

.header__title {
  font-size: 90px;
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Bodoni_Moda", "Times New Roman", Times, serif;
  padding-left: 40px;
}
.header__description {
  font-size: 40px;
  margin: 0;
  padding: 0 0 20px 80px;
  max-width: 575px;
  font-family: "Italiana", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.add_recipe-btn {
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  background: rgb(248, 80, 29);
  color: rgb(253, 252, 251);
  font-family: "Italiana", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.add_recipe-btn:hover {
  background: rgb(202, 44, 16);
}
