.nav {
  width: 100%;
}

.nav__links {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 20px 0 20px 0;
  font-size: 40px;
  line-height: 1.5;
}
.nav__link {
  color: rgb(232, 252, 122);
  text-decoration: none;
  font-weight: 500;
}
.nav__link:hover {
  color: rgb(38, 6, 128);
  cursor: pointer;
}
